body {
  background-color:lavender;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-family: fantasy;
  color: cornflowerblue;
}

.container {
  margin-top: 50px;
  background-color: lavender;
}

.card {
  margin-top: 25px;
  padding: 25px;
  background-color: lavender;
  border: 1px solid lavender;
}

.btn-success {
  font-family: 'Courier New', Courier, monospace;
  background-color: coral;
  border-radius: 10px;
}